* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding-top: 100px; /* Ajuste para evitar que el contenido se superponga con la barra de navegación */
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #4568DC, #b06ab3);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid white;
    z-index: 1000;
}

button,
input[type="color"],
input[type="range"] {
    margin: 5px;
}

canvas {
    margin-bottom: 20px;
}

.clr {
    height: 35px;
    width: 35px;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid white;
    transition: transform .5s;
}

.clr:hover {
    transform: scale(1.2);
}

.clr:nth-child(1) {
    background-color: black;
}

.clr:nth-child(2) {
    background-color: red;
}

.clr:nth-child(3) {
    background-color: orange;
}

.clr:nth-child(4) {
    background-color: blue;
}

.clr:nth-child(5) {
    background-color: purple;
}

.clr:nth-child(6) {
    background-color: yellowgreen;
}

.clr:nth-child(7) {
    background-color: yellow;
}

.clr:nth-child(8) {
    background-color: white;
}

button {
    border: none;
    outline: none;
    padding: .6em 1em;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.save {
    background-color: #0f64d4;
}

input[type="color"] {
    height: 40px;
}

#ageOutputId {
    color: white;
    font-weight: bold;
    font-size: 15pt;
}

#ageInputId {
    background: linear-gradient(to right, #00042b 0%, #004e92 100%);
    outline: none;
    border-radius: 5px;
    border: 3px solid white;
    accent-color: white;
}

.emoji {
    font-size: 40px;
    padding-bottom: 10px;
}

.avatar {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
}

.avatar .edit-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.avatar-select {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid transparent;
}

.avatar-select:hover,
.avatar-select.selected {
    border-color: #007bff;
}

.modal-dialog {
    max-width: 800px;
}
.chat-popup {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    z-index: 9;
    display: none;
    padding: 15px;
    border-radius: 5px;
}

.chat-popup .chat-container {
    max-width: 300px;
}

/* Estilo para la pestaña de la esquina inferior derecha */
#chatTab {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    cursor: pointer;
}

